.loading-spinner {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17rem;
    border: 0.9em solid rgba(0, 0, 0, 0.1);
    border-top: 0.9em solid #2fc2baf5;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    animation: spin 0.6s linear infinite;

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}