.toggle-switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  width: 60px;
  height: 34px;

  & .switch-input {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  & .switch-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: gray;
    border-radius: 34px;
    transition: .4s;
  }

  & .switch-label .switch-circle {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    transition: .4s;
  }

  & .switch-input:checked + .switch-label .switch-circle {
    transform: translateX(26px)
  }

  &.small {
    width: 30px;
    height: 17px;

    & .switch-label .switch-circle {
      height: 13px;
      width: 13px;
      left: 2px;
      bottom: 2px;
    }

    & .switch-input:checked + .switch-label .switch-circle {
      transform: translateX(13px)
    }
  }
}