@media
	only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {
}

.data-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

table {
    border-spacing: 0.5rem;
    border-collapse: collapse;
    white-space: nowrap;
}